body{
    background-color: #C7EDFC;
    background-image: url(../img/background_blue.gif);
    font: 14px Verdana, sans-serif;
}

.top-buffer {
    margin-top: 20px;
}

.text-centred {
    text-align: center;
}

.table-hover-my > tbody > tr:hover {
    background-color: #D9EDF7;
    max-width: 900px;
}

.tabbable {
    *zoom: 1;
}

.tabbable:before,
.tabbable:after {
    display: table;
    line-height: 0;
    content: "";
}

.tabbable-my:after {
    clear: both;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

              /*МОИ НАСТРОЙКИ*/
/*-----------------------------------------*/

                /*SEARCH*/
.search-block{
    width: 400px;
    margin: 0 auto;
}

                 /*ALL*/

.header-home{
    width: 1168px;
    margin: 0 auto 20px auto;
    padding: 20px;
    background-color: #337AB7;
    color: #ffffff;
}
.container-home {
    width: 1170px;
    padding: 0;
    margin:0 auto;
    background-color: #ffffff;
    border: 1px solid #333333;
}
.mainRow{
    margin: 20px -15px 0 -15px;
    padding: 15px;
}

#content{
    width: 1000px;
    margin: 0 auto;
}
.tab-home {
    width: 1000px;
    padding: 10px;
    margin: 0 auto;
}
.row-home {
    width: 950px;
    padding: 0 10px;
    margin: 0 auto;
    /*outline: 2px solid #cccccc;*/
}
.table-home{
    width: 880px;
    margin: 0 auto;
    padding: 0 10px;
}
.fontBold{
    font-weight: bold;
}
.nav-tabs li{
    font-weight: bold;
}

.popover-home .popover{
    position: relative;
    display: block;
    margin: 20px;
}



                /*PROFILE*/

#profilePhoto{
    width: 200px;
    float: left;
    /*outline: 2px solid #cccccc;*/
}
#profileInfo{
    width: 530px;
    margin: 30px 0 0 210px;
    /*outline: 2px solid #cccccc;*/
}
#profileChangeBtn{
    width: 100px;
    margin: 72px 0 0 0;
    /*outline: 2px solid #cccccc;*/
    float: right;
}
#profileChangeBtn button{
    width: 100px;
}
#profileFirstCol{
    width: 329px;
    text-align: left;
}
#profileLastNameTr{
    width: 201px;
    text-align: center;
    font-weight: normal;
}

#postRow{
    /*outline: 2px solid #FF8000;*/
    width: 880px;;
    margin: 30px auto 0 auto;
}
#postArea{
    /*outline: 2px solid #FF8000;*/
    width: 880px;
    margin: 0 auto;
}
.postMessage{
    /*outline: 2px solid #FF8000;*/
    width: 850px;
    max-width: 850px;
    margin: 0 0 20px 0;
}


            /*FRIEND*/

#friendPhotoTh{
    width: 70px;
    text-align: center;
}
#friendLastNameTh{
    width: 300px;
    text-align: center;
}
#friendFirstNameTh{
    width: 300px;
    text-align: center;
}
#friendBthTh{
    width: 210px;
}
#friendCellBtn .btn-group {
    width: 210px;
}
#friendCellBtn .btn-group button{
    width: 70px;
}
.message{
    /*outline: 2px solid #FF8000;*/
    width: 600px;
    max-width: 600px;
    margin: 0 0 20px 0;
}


            /*HOBBY*/

.hobbyTitleTh{
    width: 200px;
    text-align: center;
}
.hobbyDescriptionTh{
    width: 500px;
    text-align: center;
}
.hobbyBtnTh{
    width: 160px;
}
.hobbyCellBtn .btn-group {
    width: 160px;
}

.hobbyCellBtn .btn-group button{
    width: 80px;
}
.well-home{
    padding: 0px;

}


             /*PLACE*/

.placePhotoTh {
    width: 60px;
    text-align: center;
}
.placeTitleTh {
    width: 160px;
    text-align: center;
}
.placeDescriptionTh {
    width: 300px;
    text-align: center;
}
.placeLatitudeTh {
    width: 90px;
    text-align: center;
}
.placeLongitudeTh {
    width: 90px;
    text-align: center;
}
.placeBtnTh {
    width: 160px;
    text-align: center;
}
.placeCellBtn .btn-group {
    width: 100px;
}

.placeCellBtn .btn-group button{
    width: 50px;
}

            /*PEOPLE*/

#userPhotoTh{
    width: 100px;
    text-align: center;
}
#userLastNameTh{
    width: 300px;
    text-align: center;
}
#userFirstNameTh{
    width: 300px;
    text-align: center;
}
#userBthTh{
    width: 100px;
}
#userCellBtn .btn-group {
    width: 100px;
}
#userCellBtn .btn-group button {
    width: 50px;
}

