.top-buffer {
    margin-top:20px;
}

.form-panel-marging {
    margin-bottom: 25px;
}

.top-buffer-for-change-botton {
    margin-top:30px;
}

.text-centred {
    text-align: center;
}

.hidden {
    display: none;
}

.form-control-padding{
    padding: 6px 4px;
}

.btn-margin-and-height{
    margin-bottom: 5px;
    height: 34px;
}

.text-index{
    text-indent: 7px;
}

/*.btn-margin{*/
    /*margin-bottom: 5px;*/
    /*height: 34px;*/
/*}*/

/*.table-hover-my > tbody > tr:hover {*/
    /*background-color: #d0e9c6;*/
/*}*/

/*.tabbable {*/
    /**zoom: 1;*/
/*}*/

/*.tabbable:before,*/
/*.tabbable:after {*/
    /*display: table;*/
    /*line-height: 0;*/
    /*content: "";*/
/*}*/

/*.tabbable-my:after {*/
    /*clear: both;*/
/*}*/

/*.tabs-below > .nav-tabs,*/
/*.tabs-right > .nav-tabs,*/
/*.tabs-left > .nav-tabs {*/
    /*border-bottom: 0;*/
/*}*/

/*.tabs-left > .nav-tabs > li,*/
/*.tabs-right > .nav-tabs > li {*/
    /*float: none;*/
/*}*/

/*.tabs-left > .nav-tabs > li > a,*/
/*.tabs-right > .nav-tabs > li > a {*/
    /*min-width: 74px;*/
    /*margin-right: 0;*/
    /*margin-bottom: 3px;*/
/*}*/

/*.tabs-left > .nav-tabs {*/
    /*float: left;*/
    /*margin-right: 19px;*/
    /*border-right: 1px solid #ddd;*/
/*}*/

/*.tabs-left > .nav-tabs > li > a {*/
    /*margin-right: -1px;*/
    /*-webkit-border-radius: 4px 0 0 4px;*/
    /*-moz-border-radius: 4px 0 0 4px;*/
    /*border-radius: 4px 0 0 4px;*/
/*}*/

/*.tabs-left > .nav-tabs > li > a:hover {*/
    /*border-color: #eeeeee #dddddd #eeeeee #eeeeee;*/
/*}*/

/*.tabs-left > .nav-tabs .active > a,*/
/*.tabs-left > .nav-tabs .active > a:hover {*/
    /*border-color: #ddd transparent #ddd #ddd;*/
    /**border-right-color: #ffffff;*/
/*}*/